---
import Header from '../components/sections/Header.astro';
import Footer from '../components/sections/Footer.astro';

const {title, description, keywords, linkMask=[]} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png+xml" href="/MobileLogoS2.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>
		<meta name="keywords" content={keywords}>
		<title>{title}</title>
	</head>
	<body>
		<header>
        	<Header linkMask={linkMask}/>
		</header>
        <main>
            <slot/>
        </main>
		<footer>
			<Footer/>
		</footer>
	</body>
</html>

<!-- some weird overflow happening with the header and footer -->
<!-- can't figure it out, probably not the best solution to hide the overflow -->
<!--  but at least its not the entire body or html -->
<style>
	header{
		overflow-x: hidden;
	}
	footer{
		overflow-x: hidden;
	}
</style>
