---
import enviroment from '../../data/Enviroment.json';
import { Image } from 'astro:assets';
import '../../CSS/Background.css';
import '../../CSS/Section.css';
import '../../CSS/Global.css';

import PageLogo from '../../photos/DesktopLogoS1.png'

const currentYear = new Date().getFullYear();
const rootPath = enviroment.PublicRoot;
---

<div class="footer-border top-design-border background-primary">
    <div class="container">
        <div class="footer-content">
            <div class="brand-content">
                <Image class="logo-image" src={PageLogo} alt="page logo" width="250" height="100" quality={"mid"} sizes="(max-width: 800px) 100vw, 250px"/>
                <a href="https://www.facebook.com/people/Clean-Living-With-Shannon/61562022045028/?_rdr">
                    <Image class="facebook-logo" src={`${rootPath}/Facebook_Logo_Secondary.png`} alt="Facebook logo" width="40" height="40"/>
                </a>
            </div>
            <div class="footer-info">
                        <p>&copy; {currentYear} Vincent Pierce. All rights reserved. Licensed to Clean Living with Shannon for unlimited use, modification, and<br class="lap-br"> distribution. See Attributions page for more details.</p>
                <a class="attrib-link" href={`${rootPath}/Attrib`}>Attributions</a>
                <div class="page-links">
                    <a href={`${rootPath}/`}>Home</a>
                    <a href={`${rootPath}/About`}>About</a>
                    <a href={`${rootPath}/Services`}>Services</a>
                    <a href={`${rootPath}/Contact`}>Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .footer-border{
        height: fit-content;
        max-width: 100%;
        min-width: 100%;
        position: relative;
        overflow: hidden;
    }

    .footer-content{
        height: fit-content;
        width: 100%;
        display: flex;
        gap: 20vw;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .brand-content{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        margin-right: auto;
    }

    .footer-info{
        display: flex;
        flex-direction: column;
        margin-top: .8rem;
    }

    .attrib-link{
        margin-top: 2.14rem;
    }

    .page-links{
        display: flex;
        margin-top: 2.14rem;
        gap: 2.8rem;
        align-items: center;
    }

    a{
        color: var(--highlight-secondary);
        font-family: var(--font-secondary);
    }

    a:hover{
        text-decoration: underline;
    }

    p{
        color: var(--highlight-secondary);
        font-family: var(--font-secondary);
        font-size: var(--fnt-sz-16);
    }

    .facebook-logo{
        margin-left: 1rem;
    }

    @media(max-width: 1600px){
        .lap-br{
            display: none;
        }
    }

    @media(max-width: 850px){

        .brand-content{
            margin: 0;
            align-items: center;
        }

        .footer-content{
            flex-direction: column;
            gap: 2vh;
            align-items: center;
        }

        .footer-info{
            translate: none;
            flex-direction: column-reverse;
        }

        .attrib-link{
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            align-self: center;
        }
        
        .facebook-logo{
            margin-left: 0rem;
        }

        .page-links{
            flex-direction: row;
            gap: 1.25rem;
            margin: 0;
            justify-content: center;
        }

        p{
            text-align: center;
            font-size: .75rem;
        }
    }

    @media (max-width: 350px){
        .page-links{
            flex-direction: column;
            text-align: center;
        }

        p{
            font-size: .5rem;
        }
    }
 
</style>