---
import PageLayout from "../layouts/PageLayout.astro";
import Hero from "../components/sections/PageHero.astro";
import BodySection from "../components/sections/BodySection.astro";
import * as ContactMeta from "../data/MarkDown/Contact.md";
import Card from "../components/Card.astro";
import '../CSS/Global.css';

const contactInfo = [
	{title: "Email:", info: "shannonandroger@yahoo.com"},
	{title: "Phone:", info: "(903) 952-8625"},
	{title: "Facebook:", info: "Clean Living with Shannon"}
];

const dontationInfo = [
	{title: "Cashapp:", info: "$ShannonNRoger"},
	{title: "Venmo:", info: "ShannonNRoger-Mallet"}
];
---

<PageLayout title={ContactMeta.frontmatter.title} description={ContactMeta.frontmatter.description}linkMask={[false, false, false, true]}>
	<Hero heading="Contact Me" description="get in touch for cleaning service"/>
	<BodySection CallToAction={false}>
		<Card title="My contact info">
			<div class="info-wrapper">
				{contactInfo.map(line => ( 
					<div class="info-line">
						<span>{line.title}</span>
						<span>{line.info}</span>
						<br/>
					</div>
				))}
			</div>
			<div class="inquiry-container">
				<span class="inquiry-note">Serious inquiries only.</span>
			</div>
		</Card>
		<Card title="donations">
			<div>
				{dontationInfo.map(line => ( 
					<span>{line.title}</span>
					<span>{line.info}</span>
					<br/>
				))}
			</div>
		</Card>
	</BodySection>
</PageLayout>


<style>
	.info-wrapper{
		border: 2px solid blue;
	}

	.info-line{
		display: flex;
		justify-content: space-between;
	}

	.inquiry-container{
		text-align: center;
	}

	.inquiry-note{
		color: var(--highlight-primary);
		font-size: var(--fnt-sz-76);
		font-family: var(--font-secondary);
		letter-spacing: var(--lt-spc-3);
		text-align: center;
	}

	span{
		color: var(--highlight-secondary);
	}
</style>