---
import PageLayout from "../layouts/PageLayout.astro";
import Hero from "../components/sections/PageHero.astro";
import BodySection from "../components/sections/BodySection.astro";
import * as ContactMeta from "../data/MarkDown/Contact.md";
import Card from "../components/Card.astro";
import "../CSS/Global.css";
import ContactInfo from "../components/ContactInfo.jsx";

const rootPath = import.meta.env.BASE_URL;
---

<script type="module" src={`${rootPath}Scripts/Global.js`}></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src={`${rootPath}Scripts/ContactSection.js`} async defer></script>

<PageLayout
	title={ContactMeta.frontmatter.title}
	description={ContactMeta.frontmatter.description}
	linkMask={[false, false, false, true]}
>
	<Hero heading="Contact Me" description="get in touch for cleaning service" />
	<BodySection class="body-section" CallToAction={false}>
		<Card title="My contact info">
			<div class="captcha-container">
				<div class="g-recaptcha captcha" data-sitekey="6LeFKjQrAAAAAA6DUMuU4I9amAxJFUluGA19Ig_N" data-callback="recaptchaSuccess"></div>
			</div>
			<div class="info-wrapper fade-in-page-effect">
				<div class="info-line">
					<span>Email:</span>
					<ContactInfo beforeInfo="cleanlivingwithshannon" afterInfo="@gmail.com" shouldbreak={true} client:load/>
				</div>
				<div class="info-line">
					<span>Phone:</span>
					<ContactInfo beforeInfo="redacted" shouldbreak={false} client:load/>
				</div>
				<div class="info-line">
					<span>Facebook:</span>
					<ContactInfo beforeInfo="Clean Living with" afterInfo=" Shannon" shouldbreak={true} client:load/>
				</div>
			</div>
			<div class="inquiry-container">
				<span class="inquiry-note"
					>Serious inquiries<br class="lb" /> only.</span
				>
			</div>
		</Card>
		<Card class="donation-card" title="donations">
			<div class="info-wrapper fade-in-page-effect">
				<div class="info-line">
					<span>Cashapp:</span>
					<span class="details">$ShannonNRoger</span>
				</div>
				<div class="info-line">
					<span>Venmo:</span>
					<span class="details">ShannonNRoger-Mallet</span>
				</div>
			</div>
			<div class="inquiry-container">
				<span class="inquiry-note"
					>Donations not required,<br class="lb" /> but are greatly<br
						class="lb"
					/> appreciated!</span
				>
			</div>
		</Card>
	</BodySection>
</PageLayout>

<style>
	.info-line {
		display: flex;
		justify-content: flex-start;
		margin-top: 3.75rem;
	}

	.inquiry-container {
		text-align: center;
		margin-top: 3rem;
	}

	.inquiry-note {
		color: var(--highlight-primary);
		font-size: var(--fnt-sz-48);
		font-family: var(--font-secondary);
		letter-spacing: var(--lt-spc-3);
		text-align: center;
		text-decoration: underline;
	}

	.captcha-container{
		display: flex;
		left: 0;
		width: 100%;
		height: 5rem;
		justify-content: center;
		margin-top: 3rem;
	}

	span {
		font-family: var(--font-primary);
		font-weight: bold;
		font-size: var(--fnt-sz-64);
		letter-spacing: var(--lt-spc-3);
		color: var(--highlight-secondary);
		margin-right: 5rem;
	}

	

	@media (max-width: 1600px) {
		span {
			font-size: var(--fnt-sz-32);
		}

		.inquiry-note {
			font-size: var(--fnt-sz-28);
		}
	}

	@media (max-width: 850px) {
		.info-line {
			flex-direction: column;
			align-content: center;
			text-align: center;
		}

		.inquiry-note {
			font-size: var(--fnt-sz-24);
		}

		span {
			font-size: var(--fnt-sz-28);
			margin-right: 0;
		}
	}

	@media (max-width: 380px) {
		span {
			font-size: var(--fnt-sz-20);
		}

		.inquiry-note {
			font-size: var(--fnt-sz-16);
		}
	}
</style>
